.App {
  background: red;
  height: 100vh;  /*  Alto y ancho VH*/

  background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 155, 168, 1) 100%, rgba(0, 212, 255, 1) 100%);

}

.image-widht{
  width: 60%;
}
